Repository yearn/yearn-comms, pull requests merged in 2022-03, with the labels that each got.

#1084 [Article] add Tenderly article
  public/_posts/_articles/yearn-finance/tenderly/cover.png
  public/_posts/_articles/yearn-finance/tenderly/cover1.png
  public/_posts/_articles/yearn-finance/tenderly/en.md
  public/_posts/_articles/yearn-finance/tenderly/image1.png
  public/_posts/_articles/yearn-finance/tenderly/image2.png
  public/_posts/_articles/yearn-finance/tenderly/image3.png
Labels: article, English

#1027 [CMT-690-1027] translate(article): "Diving into Yearn Metrics" - ES
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/es.md
Labels: Spanish, article

#1077 [CMT-735-1077] translations(article): defi money robots - es
  public/_posts/_articles/gemini/es.md
Labels: Spanish, article

#1075 [CMT-733-1075] translate(newsletter): "Yearn-Finance-Newsletter-51" - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-51/es.md
Labels: Spanish, newsletters

#1074 [CMT-732-1074] translate(newsletter): "Yearn-Finance-Newsletter-52" - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-52/es.md
Labels: Spanish, newsletters

#1073 [CMT-731-1073] translate(article): "Easily earn with Yearn v2 in Argent" - ES
  public/_posts/_articles/argent/es.md
Labels: Spanish, article

#1081 [CMT-739-1081] translate(newsletter): "Yearn-Finance-Newsletter-52" - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-52/de.md
Labels: German, newsletters

#1080 [CMT-738-1080] translate(newsletter): "Yearn-Finance-Newsletter-51" - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-51/de.md
Labels: German, newsletters

#1028 [CMT-691-1028] translate(article): "How New Yearn Vault Strategies are Endorsed" - ES
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/es.md
Labels: Spanish, article

#1068 [CMT-726-1068] translate(article): "Liquidity Mining Rewards v2" - ES
  public/_posts/_articles/andre-cronje/liquidity-mining-rewards-v2/es.md
Labels: Spanish, article

#1070 [CMT-728-1070] translate(article): "Introducing Fixed Forex" - ES
  public/_posts/_articles/andre-cronje/introducing-fixed-forex/es.md
Labels: Spanish, article

#1071 [CMT-729-1071] translate(article): "Fair launches, decentralized collaboration, and Fixed Forex" - ES
  public/_posts/_articles/andre-cronje/fair-launches-decentralized-collaboration-and-fixed-forex/es.md
Labels: Spanish, article

#1086 [CMT-742-1086] translate(article): "Yearn Finance Partners with Tenderly "- ES
  public/_posts/_articles/yearn-finance/tenderly/es.md
Labels: Spanish, needs review by translator

#1048 [CMT-707-1048] translate(tweet): "What-can-you-do-in-a-DAO" - TR
  public/_posts/_tweets/what-can-you-do-in-a-DAO/tr.md
Labels: Turkish, tweets

#1042 [CMT-703-1042] translate(article): "Can-Yearn-Disrupt" - TR
  public/_posts/_articles/wot-is-goin-on/can-yearn-disrupt/tr.md
Labels: Turkish, article

#1043 [CMT-704-1043] translate(article): "Yearn Finance and Money Robots" - TR
  public/_posts/_articles/gemini/tr.md
Labels: Turkish, article

#1095 translate(article): "Yearn Finance Partners with Tenderly" - FR
  public/_posts/_articles/yearn-finance/tenderly/fr.md
Labels: French, article

#1096 [CMT-751-1096] add(article): "My First Impressions at Yearn" - EN
  public/_posts/_articles/kish/my-first-impressions-at-yearn/cover.png
  public/_posts/_articles/kish/my-first-impressions-at-yearn/en.md
Labels: article, English

#1040 [CMT-701-1040] translate(article): "What-can-you-do-with-YFI" - TR
  public/_posts/_articles/forum/what-can-you-do-with-yfi/tr.md
Labels: Turkish, article

#1041 [CMT-704-1041] translate(newsletter): "Yearn-Finance-Newsletter-57" - TR
  public/_posts/_newsletters/Yearn-Finance-Newsletter-57/tr.md
Labels: Turkish, newsletters

#1045 [CMT-704-1045] translate(announcement): "Deposit Together" - TR
  public/_posts/_announcements/deposit-together/tr.md
Labels: Turkish, announcements

#1024 [CMT-687-1024] translate(article): "How Yearn calculates estimated returns (APY)" - PT
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/pt.md
Labels: Portuguese, article

#1064 [CMT-723-1064] translate(newsletter): "Yearn-Finance-Newsletter-50" - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-50/de.md
Labels: German, newsletters

#1016 [CMT-679-1016] translate(article): "How new Yearn Vault strategies are endorsed" - PT
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/pt.md
Labels: Portuguese, article

#1072 [CMT-730-1072] translate(article): "How we think about Yearn" - ES
  public/_posts/_articles/forum/how-we-think-about-yearn/es.md
Labels: Spanish, article

#1097 [CMT-752-1097] add(update): "Web Engineering Update: February 21, 2022" - EN
  public/_posts/_updates/web-team/2022-02-21/en.md
  public/_posts/_updates/web-team/2022-02-21/logo.png
Labels: English, update

#1099 [CMT-754-1099] add(update): "Web Engineering Update: Jan 31, 2022" - EN
  public/_posts/_updates/web-team/2022-01-31/en.md
  public/_posts/_updates/web-team/2022-01-31/logo.png
Labels: English, update

#1102 [CMT-757-1102] fix: typo in "how-yearn-calculates-estimated-returns" article
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/en.md
Labels: English, fix

#1101 [CMT-756-1101] translate(podcast): "List of Podcasts and Talks" - TR
  public/_posts/_podcasts/podcasts-talks/tr.md
Labels: Turkish

#1103 [CMT-758-1103] translate(article): ''how-yearn-calculates-estimated-returns'' - TR
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/tr.md
Labels: Turkish, article

#1110 [CMT-765-1110] translate(article): ''yearn-finance-explained" - TR
  public/_posts/_articles/marco-worms/yearn-finance-explained-what-are-vaults-and-strategies/tr.md
Labels: Turkish, article

#1113 [CMT-768-1113] add(update): "Stealth Safe Guard: MEV Protection for your Gnosis Safe" - EN
  public/_posts/_updates/web-team/stealth-safe-guard-mev-protection-for-your-gnosis-safe/cover.png
  public/_posts/_updates/web-team/stealth-safe-guard-mev-protection-for-your-gnosis-safe/en.md
Labels: English, update

#1116 add(article): "Yearn Partners: Building with yVaults" - EN
  public/_posts/_articles/marco-worms/partners/cover.png
  public/_posts/_articles/marco-worms/partners/en.md
  public/_posts/_articles/marco-worms/partners/fr.md
  public/_posts/_articles/marco-worms/partners/image1.png
  public/_posts/_articles/marco-worms/partners/image2.png
  public/_posts/_articles/marco-worms/partners/image3.png
  public/_posts/_articles/marco-worms/partners/image4.png
Labels: article, English

#1124 [CMT-777-1124] fix: typos, formatting in marco_worms articles
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/en.md
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/es.md
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/fr.md
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/en.md
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/es.md
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/fr.md
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/pt.md
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/en.md
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/fr.md
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/pt.md
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/tr.md
  public/_posts/_articles/marco-worms/yearn-finance-explained-what-are-vaults-and-strategies/en.md
  public/_posts/_articles/marco-worms/yearn-finance-explained-what-are-vaults-and-strategies/fr.md
  public/_posts/_articles/marco-worms/yearn-finance-explained-what-are-vaults-and-strategies/tr.md
  public/_posts/_articles/marco-worms/yearn-partners/cover.png
  public/_posts/_articles/marco-worms/yearn-partners/en.md
  public/_posts/_articles/marco-worms/yearn-partners/fr.md
  public/_posts/_articles/marco-worms/yearn-partners/image1.png
  public/_posts/_articles/marco-worms/yearn-partners/image2.png
  public/_posts/_articles/marco-worms/yearn-partners/image3.png
  public/_posts/_articles/marco-worms/yearn-partners/image4.png
Labels: fix

#1126 [CMT-779-1126] translate(article): ''yearn-partners" - TR
  public/_posts/_articles/marco-worms/partners/tr.md
Labels: Turkish, article

#1129 add(newsletter): "Yearn Finance Newsletter #58" - EN
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/cover.png
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/en.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/image1.png
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/image2.jpg
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/image3.jpg
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/image4.png
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/image5.png
Labels: newsletters, English

#1131 [CMT-782-1131] add(update): "Web Engineering Update: Feb 28, 2022" - EN
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-02-28/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-02-28/logo.png
Labels: English, update

#1132 [CMT-783-1132] translate(newsletter): ''Yearn-Finance-Newsletter-58 " - TR
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/tr.md
Labels: Turkish, newsletters

#1145 [CMT-795-1145] add(financials): "2021Q3-yearn-quarterly-report" - EN
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/cover.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/en.md
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image1.png
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image10.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image2.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image3.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image4.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image5.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image6.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image7.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image8.jpg
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/image9.jpg
Labels: financials, English

#1150 [CMT-799-1150] feat: add kish subfolder support
  pages/[path]/[...slug].js
  pages/[path]/index.js
  pages/index.js
Labels: enhancement

#1117 [CMT-770-1117] translate(article): "How new Yearn Vault strategies are endorsed" - HI
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/hi.md
Labels: Hindi, article

#1114 [CMT-769-1114] translate(article): ''my-first-impressions-at-yearn" - TR
  public/_posts/_articles/kish/my-first-impressions-at-yearn/tr.md
Labels: Turkish, article

#1118 [CMT-771-1118] translate(article): "My First Impressions at Yearn" - PT
  public/_posts/_articles/kish/my-first-impressions-at-yearn/pt.md
Labels: Portuguese, article

#1147 [CMT-797-1147] translate(newsletter): "YN #58" - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/de.md
Labels: German, newsletters

#1148 translate(article): "Yearn’s Dai Vault" - DE
  public/_posts/_articles/wot-is-goin-on/yearn-dai-vault/de.md
Labels: German, article

#1111 [CMT-766-1111] translate(article): ''diving-into-yearn-metrics" - TR
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/tr.md
Labels: Turkish, article

#1112 [CMT-767-1112] translate(article): '' how-new-yearn-vault-strategies-are-endorsed" - TR
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/tr.md
Labels: Turkish, article

#1154 [CMT-803-1154] Update es.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-57/es.md
Labels: enhancement, Spanish

#1152 [CMT-801-1152] feat: add seo for article page
  components/TemplateArticle.js
  next.config.js
  pages/_app.js
Labels: enhancement, blog

#1151 [CMT-800-1151] Hotfix/invalid articles
  components/TemplateList.js
Labels: bug

#1149 [CMT-798-1149] translation(newsletter): "Yearn Finance Newsletter #58" - JA
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/ja.md
Labels: Japanese

#1157 [CMT-806-1157] translate(newsletter): "Yearn Newsletter 58" - ZH
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/zh.md
Labels: Chinese, newsletters

#1159 [CMT-807-1159] fix: duplicate titles and title translations fix in newsletters - chinese
  public/_posts/_newsletters/Yearn-Finance-Newsletter-41/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-42/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-43/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-44/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-45/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-46/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-47/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-48/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-49/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-54/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-55/zh.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-56/zh.md
Labels: fix

#1171 [CMT-819-1171] add(engineering): "web engineering update 2022-03-07" - EN, + fixes
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-03/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-03/logo.png
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-10/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-10/logo.png
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-17/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-17/logo.png
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-31/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-31/logo.png
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-02-21/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-02-21/logo.png
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-02-28/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-07/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-07/logo.png
Labels: blog, update

#1175 [CMT-823-1175] fix(article): diving-into-yearn-metrics - ES
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/es.md
Labels: Spanish

#1172 [CMT-820-1172] translate(update) : web-engineering-update-mar-7 - JA
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-07/ja.md
Labels: Japanese, engineering

#1168 [CMT-816-1168] translate(article): "tenderly" - PT
  public/_posts/_articles/yearn-finance/tenderly/pt.md
Labels: Portuguese, article

#1166 [CMT-814-1166] translate(article): "yearn-partners" - PT
  public/_posts/_articles/marco-worms/yearn-partners/pt.md
Labels: Portuguese, article

#1139 [CMT-789-1139] translate(podcast): "List of Podcasts and Talks" - PT
  public/_posts/_podcasts/podcasts-talks/pt.md
Labels: Portuguese

#1137 [CMT-787-1137] translate(article): clarifying-2020-mergers - PT
  public/_posts/_articles/yearn-finance/clarifying-2020-mergers/pt.md
Labels: Portuguese, article

#1123 [CMT-776-1123] translate(tweet): why-is-yearn-finance-built-different - PT
  public/_posts/_tweets/why-is-yearn-finance-built-different/pt.md
Labels: Portuguese, tweets

#1122 [CMT-775-1122] translate(article): what-are-vaults-and-strategies - PT
  public/_posts/_articles/marco-worms/yearn-finance-explained-what-are-vaults-and-strategies/pt.md
Labels: Portuguese, article

#1173 [CMT-821-1173] translate(engineering): mev-protection-for-your-gnosis-safe - PT
  public/_posts/_updates/web-team/stealth-safe-guard-mev-protection-for-your-gnosis-safe/pt.md
Labels: Portuguese, engineering

#1109 [CMT-764-1109] translate(announcement): deposit-together - PT
  public/_posts/_announcements/deposit-together/pt.md
Labels: Portuguese, announcements

#1108 [CMT-763-1108] translate(engineering): web-engineering-update-31-jan - PT
  public/_posts/_updates/web-team/2022-01-31/pt.md
Labels: Portuguese, engineering

#1025 [CMT-688-1025] translate(newsletter): YN57 - EL
  public/_posts/_newsletters/Yearn-Finance-Newsletter-57/el.md
Labels: Greek, newsletters

#1020 [CMT-683-1020] translate(newsletter): YN56 - EL
  public/_posts/_newsletters/Yearn-Finance-Newsletter-56/el.md
Labels: Greek, newsletters

#1015 [CMT-678-1015] translate(article): "Diving into Yearn Metrics" - PT
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/pt.md
Labels: Portuguese, article

#1162 [CMT-810-1162] translate(newsletter): YN 57 - VI
  public/_posts/_newsletters/Yearn-Finance-Newsletter-57/vi.md
Labels: Vietnamese, newsletters

#1179 [CMT-827-1179] translate(newsletter): YN58 - ZH
  public/_posts/_newsletters/Yearn-Finance-Newsletter-57/zh.md
Labels: Chinese, newsletters

#1180 [CMT-828-1180] translate(article): "yearn-metrics" and "how-yearn-calculates-returns"- ZH
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/zh.md
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/zh.md
Labels: Chinese, article, needs review by translator

#1169 [CMT-817-1169] Translation(report): quarterly report 2021 Q3 - es -RM3
  public/_posts/_financials/quarterly-report/quarterly-report-2021-Q3/es.md
Labels: Spanish, financials

#1158 [CMT-794-1144] translate(newsletter): YN41 - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-41/es.md
Labels: Spanish, newsletters

#1182 [CMT-830-1182] translate(engineering): web-team-update-2022-03-07 - PT
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-07/pt.md
Labels: Portuguese, engineering

#1153 [CMT-802-1153] translate(article): the blue pill - es
  public/_posts/_articles/the-blue-pill/es.md
Labels: Spanish, article

#1161 [CMT-809-1161] translate(newsletter): YN 56 - VI
  public/_posts/_newsletters/Yearn-Finance-Newsletter-56/vi.md
Labels: Vietnamese, newsletters, needs review by translator

#1178 [CMT-826-1178] translate(article): Introducing fixed forex - DE
  public/_posts/_articles/andre-cronje/introducing-fixed-forex/de.md
Labels: German, article

#1177 [CMT-825-1177] translate(announcement): Deposit Together - DE
  public/_posts/_announcements/deposit-together/de.md
Labels: German, announcements

#1155 [CMT-804-1155] translate(article): What are Vaults and Strategies?- DE
  public/_posts/_articles/marco-worms/yearn-finance-explained-what-are-vaults-and-strategies/de.md
Labels: German, article

#1036 [CMT-697-1036] translate(newsletter): "Yearn-Finance-Newsletter-57" - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-57/de.md
Labels: German, newsletters

#1082 [CMT-740-1082] translate(newsletter): YN54 - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-54/de.md
Labels: German, newsletters

#1130 [CMT-781-1130] translate(article): How new Yearn Vault strategies are endorsed - DE
  public/_posts/_articles/marco-worms/how-new-yearn-vault-strategies-are-endorsed/de.md
Labels: German, article

#1035 [CMT-696-1035] translate(newsletter): "Yearn-Finance-Newsletter-56" - DE
  public/_posts/_newsletters/Yearn-Finance-Newsletter-56/de.md
Labels: German, newsletters

#1163 [CMT-811-1163] translate(newsletter): YN 58 - VI
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/vi.md
Labels: Vietnamese, newsletters

#1133 [CMT-784-1133] translate(newsletter): "Yearn Finance Newsletter #58" - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/es.md
Labels: Spanish, newsletters, needs review by translator

#1196 [CMT-843-1196] translate(announcement): yearn-yield-function - EL
  public/_posts/_announcements/yearn-yield-function/el.md
Labels: Greek, announcements

#1194 [CMT-841-1194] translate(announcement): what-do-i-need-to-write-a-strategy - EL
  public/_posts/_announcements/what-do-i-need-to-write-a-strategy/el.md
Labels: Greek, announcements

#1191 [CMT-839-1191] translate(announcement): Token terminal - EL
  public/_posts/_announcements/token-terminal/el.md
Labels: Greek, announcements

#1193 [CMT-840-1193] translate(announcement): Update YFIStats Dashboards - EL
  public/_posts/_announcements/updated-YFIstats-dashboards/el.md
Labels: Greek, announcements

#1190 [CMT-838-1190] translate(announcement): Blue Pill release - EL
  public/_posts/_announcements/the-blue-pill-release/el.md
Labels: Greek

#1189 [CMT-837-1189] translate(announcement): the blue pill announcement - EL
  public/_posts/_announcements/the-blue-pill-ann/el.md
Labels: Greek, announcements

#1188 [CMT-836-1188] translate(announcement): Legal Activism DAO - EL
  public/_posts/_announcements/legal-activism-DAO/el.md
Labels: Greek, announcements

#1198 [CMT-845-1198] fix: removed extra lines from legal activism DAO announcement
  public/_posts/_announcements/legal-activism-DAO/en.md
Labels: English, fix

#1184 [CMT-832-1184] translate: podcasts - EL
  public/_posts/_podcasts/podcasts-talks/el.md
Labels: Greek

#1183 [CMT-831-1183] translate(newsletter): YN#58 - EL
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/el.md
Labels: Greek, newsletters

#1187 [CMT-835-1187] translate(announcement): Zero Knowledge Podcast - EL
  public/_posts/_announcements/zero-knowledge-podcast/el.md
Labels: Greek

#1186 [CMT-834-1186] translate(announcement): Update Bowswap - EL
  public/_posts/_announcements/update-bowswap-finance/el.md
Labels: Greek, announcements

#1185 [CMT-833-1185] translate(announcement): deposit together - EL
  public/_posts/_announcements/deposit-together/el.md
Labels: Greek, announcements

#1164 [CMT-812-1164] translate(article): "Yearn Finance and Money Robots" - VI
  public/_posts/_articles/gemini/vi.md
Labels: Vietnamese, article

#1146 [CMT-796-1146] translate(article): How Yearn calculates estimated returns (APY) - DE
  public/_posts/_articles/marco-worms/how-yearn-calculates-estimated-returns/de.md
Labels: German, article

#995 [CMT-662-995] Yearn Finance Newsletter #55 - Hindi
  Newsletters/_posts/Yearn-Finance-Newsletter-55/2022-01-26-Yearn-Finance-Newsletter-55.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-55/hi.md
Labels: Hindi, newsletters

#1165 [CMT-116] translate(article): "Decentralized payroll management for DAOs" - VI
  public/_posts/_articles/andre-cronje/decentralized-payroll-management-for-daos/vi.md
Labels: Vietnamese, article

#1142 [CMT-792-1142] translate(newsletter): YN55 - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-55/es.md
Labels: Spanish, newsletters

#1141 [CMT-791-1141] translate(newsletter): YN54 - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-54/es.md
Labels: Spanish

#1140 [CMT-790-1140] translate(newsletter): YN53 - ES
  public/_posts/_newsletters/Yearn-Finance-Newsletter-53/es.md
Labels: Spanish

#1192 add [ARTICLE] Setup notifications for blockchain transactions with Te…
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/en.md
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image1.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image10.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image11.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image12.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image13.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image14.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image15.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image16.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image17.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image18.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image19.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image2.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image20.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image21.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image22.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image3.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image4.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image5.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image6.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image7.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image8.jpg
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/image9.jpg
Labels: blog, English

#1197 [CMT-844-1197] Diving into Yearn Metrics Article - Greek translation
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/el.md
Labels: Greek, article, needs review by translator

#1195 [CMT-842-1195] Yearn & Synthetix DAO twitter space Greek
  public/_posts/_announcements/yearn-synthetix-DAO-twitter-space/el.md
Labels: Greek, announcements, needs review by translator

#1085 [CMT-741-1085] Blog home page - Hindi localization suggestion
  localization/hi.json
Labels: Hindi, blog

#1127 [CMT-780-1127] translate(article): My First Impressions at Yearn - DE
  public/_posts/_articles/kish/my-first-impressions-at-yearn/de.md
Labels: German, article

#1121 [CMT-774-1121] translate(article): SEBA Decentralised Asset Management - ES
  public/_posts/_articles/seba/es.md
Labels: Spanish

#1120 [CMT-773-1120] translate(article): My first impressions at Yearn - ES
  public/_posts/_articles/kish/my-first-impressions-at-yearn/es.md
Labels: Spanish

#1201 [CMT-848-1201] translate(article): setup-notifications-tenderly - ES
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/es.md
Labels: Spanish, article

#1202 add french version of [Article] setup-notifications-tenderly
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/fr.md
Labels: French, article, needs review by translator

#1208 [CMT-854-1208] add(engineering): web-engineering-update-03.14 - EN
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-31/pt.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-14/en.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-14/logo.png
Labels: English, engineering

#1206 [CMT-852-1206] translate(engineering): web-team-update-2022-01-03 - PT
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-03/pt.md
Labels: Portuguese, engineering

#1205 [CMT-851-1205] translate(article): setup-notifications-tenderly - PT
  public/_posts/_articles/marco-worms/setup-notifications-tenderly/pt.md
Labels: Portuguese, article

#1119 [CMT-772-1119] translate(article): Clarifying 2020 Mergers - ES
  public/_posts/_articles/yearn-finance/clarifying-2020-mergers/es.md
Labels: Spanish

#1209 [CMT-855-1209] fix: misc typo and formatting fixes
  public/_posts/_announcements/deposit-together/es.md
  public/_posts/_articles/forum/what-can-you-do-with-yfi/es.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-46/es.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-48/es.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-49/es.md
Labels: Spanish, fix

#992 [CMT-659-992] translation(update): Yearn Web Engineering Update Jan 17 2022
  Updates/_posts/Web Team/Jan-17/2022-01-20-Jan-17.md
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-17/ja.md
Labels: Japanese, engineering

#1217 [CMT-861-1217] translate(newsletter): YN 53 - ZH
  public/_posts/_newsletters/Yearn-Finance-Newsletter-53/zh.md
Labels: Chinese, newsletters

#1218 [CMT-862-1218] translation(engineering): web-update-14.03
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-03-14/ja.md
Labels: Japanese, engineering

#1213 [CMT-858-1213] translate(newsletter) : YN52
  public/_posts/_newsletters/Yearn-Finance-Newsletter-49/ja.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-52/ja.md
  public/_posts/_newsletters/Yearn-Finance-Newsletter-55/ja.md
Labels: Japanese, newsletters

#1214 Update portuguese bluepill translation
  public/_posts/_articles/the-blue-pill/pt.md
Labels: Portuguese

#1212 [CMT-857-1212] translate(updates): yearn web 01 10 - pt
  public/_posts/_updates/web-team/yearn-web-engineering-update-2022-01-10/pt.md
Labels: Portuguese, engineering

#1065 [CMT-724-1065] translation(article): "Diving into Yearn Metrics" - JA
  public/_posts/_articles/marco-worms/diving-into-yearn-metrics/ja.md
Labels: Japanese, article, needs review by translator

#1181 [CMT-829-1181] translate(newsletter): YN58 - HI
  public/_posts/_newsletters/Yearn-Finance-Newsletter-58/hi.md
Labels: Hindi, newsletters, needs review by translator

#1221 [CMT-864-1221] Decentralized-payroll-management-for-daos - Greek translation
  public/_posts/_articles/andre-cronje/decentralized-payroll-management-for-daos/el.md
Labels: Greek, article

#1225 [CMT-868-1225] fix(translation update): legal-activism-dao - ID
  public/_posts/_announcements/legal-activism-DAO/id.md
Labels: announcements, Indonesian

#1219 [CMT-863-1219] edit(article): The Blue Pill - PT
  public/_posts/_articles/the-blue-pill/es.md
Labels: Portuguese
